// WARNING
// This configuration file is aspirational and does not do anything yet.

// A maximum of 10 profiles can be defined.
profiles {
    profile {
        // There must be exactly one profile with default set to true.
        // On startup the controller will start in the profile with default set to true.
        //default #true

        // The button combination listed here can be used to jump to this specific profile.
        // A maximum of 10 buttons can be used.
        activation-combination start left-hand-thumb-left left-hand-pinky

        // Which firmware level profile logic to use.
        // Controls things like the exact control stick values used under different circumstances.
        // And any other hardcoded special case logic.
        // Possible values:
        // * project-plus
        // * rivals2
        logic project-plus

        // Possible values:
        // * second-input-priority - when both directions are pressed, the second direction to be pressed is activated.
        // * neutral - when both directions are pressed, neither are activated
        socd second-input-priority

        left-hand {
            pinky l-analog
            ring stick-left
            middle stick-down
            index stick-right

            middle-2 stick-up

            thumb-left mod-x
            thumb-right mod-y
        }

        right-hand {
            index b
            middle x
            ring z
            pinky stick-up

            index-2 r-digital
            middle-2 y
            ring-2 r-analog
            pinky-2 dpad-up

            thumb-left cstick-left
            thumb-right cstick-right
            thumb-up cstick-up
            thumb-down cstick-down
            thumb-middle a
        }
    }

    profile {
        //default #false
        activation-combination start left-hand-thumb-left left-hand-middle
        logic rivals2
        socd second-input-priority

        left-hand {
            pinky l-analog
            ring stick-left
            middle stick-down
            index stick-right

            middle-2 stick-up

            thumb-left mod-x
            thumb-right mod-y
        }

        right-hand {
            index b
            middle x
            ring z
            pinky stick-up

            index-2 r-digital
            middle-2 y
            ring-2 r-analog
            pinky-2 dpad-up

            thumb-left cstick-left
            thumb-right cstick-right
            thumb-up cstick-up
            thumb-down cstick-down
            thumb-middle a
        }
    }
}