version 0

// TODO: overview documentation
// include keymapping names and link to a diagram

// A maximum of 50 profiles can be defined.
profiles {
    // Standard Project+ profile
    - {
        // Which firmware level profile logic to use.
        // Controls things like the exact control stick values used under different circumstances.
        // And any other hardcoded special case logic.
        // Possible values:
        // * project-plus
        // * rivals2
        logic project-plus

        // The button combination listed here can be used to jump to this specific profile.
        // A maximum of 10 buttons can be used.
        //
        // On startup the controller will start in the first defined profile.
        // Cut/paste a profile to the first position to make it the default.
        activation-combination {
            - start
            - left-thumb-left
            - left-pinky
        }

        // Possible values:
        // * second-input-priority - when both directions are pressed, the second direction to be pressed is activated.
        // * neutral - when both directions are pressed, neither are activated
        socd second-input-priority

        buttons {
            start start

            // left hand

            l-digital left-pinky
            //l-analog left-pinky or right-ring
            stick-left left-ring
            stick-down left-middle
            stick-right left-index

            stick-up right-pinky
            stick-up2 left-middle2
            //stick-up left-middle-2 or right-pinky

            mod-x left-thumb-left
            mod-y left-thumb-right

            // right hand

            b right-index
            x right-middle
            z right-ring

            r-digital right-index2
            y right-middle2
            r-analog right-ring2

            dpad-up right-pinky2
            // TODO: specify all dpad buttons as combinations here or failing that just rename to dpad and implement all in firmware
            //dpad-down right-pinky-2 and right-thumb-down

            cstick-left right-thumb-left
            cstick-right right-thumb-right
            cstick-up right-thumb-up
            cstick-down right-thumb-down
            a right-thumb-middle
            //a right-thumb-middle or right-ring

            // unused buttons

            l-analog none
        }
    }

    // Standard rivals2 profile
    - {
        logic rivals2
        activation-combination {
            - start
            - left-thumb-left
            - left-ring
        }
        socd second-input-priority

        buttons {
            start start

            // left hand

            l-digital left-pinky
            //l-analog left-pinky or right-ring
            stick-left left-ring
            stick-down left-middle
            stick-right left-index

            stick-up right-pinky
            stick-up2 left-middle2
            //stick-up left-middle-2 or right-pinky

            mod-x left-thumb-left
            mod-y left-thumb-right

            // right hand

            b right-index
            x right-middle
            z right-ring

            r-digital right-index2
            y right-middle2
            r-analog right-ring2

            dpad-up right-pinky2
            // TODO: specify all dpad buttons as combinations here or failing that just rename to dpad and implement all in firmware
            //dpad-down right-pinky-2 and right-thumb-down

            cstick-left right-thumb-left
            cstick-right right-thumb-right
            cstick-up right-thumb-up
            cstick-down right-thumb-down
            a right-thumb-middle
            //a right-thumb-middle or right-ring

            // unused buttons

            l-analog none
        }
    }
}






// still undecided if I maybe want to expose config as this
// Its easier to understand as a user but adds an extra kind of button type on
// top of the one used in `activation_combination`.
//
// We can implement it, it should be possible to transform to the above representation in the flashing tool.
// left-hand {
//     pinky l-analog
//     ring stick-left
//     middle stick-down
//     index stick-right

//     middle-2 stick-up

//     thumb-left mod-x
//     thumb-right mod-y
// }

// right-hand {
//     index b
//     middle x
//     ring z
//     pinky stick-up

//     index-2 r-digital
//     middle-2 y
//     ring-2 r-analog
//     pinky-2 dpad-up

//     thumb-left cstick-left
//     thumb-right cstick-right
//     thumb-up cstick-up
//     thumb-down cstick-down
//     thumb-middle a
// }